<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/cssandjs/main.css}"/>
<title>Dictionnaire modifier</title>
</head>
<body>
	<h1>Modifier un dictionnaire</h1>
	<div class="navbar">
	  <a th:href="@{/}">Accueil</a>
	  <a th:href="@{/adherant/index}">Adherants</a>
	  <a th:href="@{/emprunt/index}">Emprunt</a>
	  <div class="dropdown">
	    <button class="dropbtn" >
	      <i>Documents</i>
	    </button>
	    <div class="dropdown-content">
	      <a th:href="@{/document/livre/index}">Livres</a>
	      <a th:href="@{/document/revue/index}">Revues</a>
	      <a th:href="@{/document/dictionnaire/index}">Dictionnaire</a>
	    </div>
	  </div>
	</div> 

	<form action="#" th:method="post" th:action="@{/document/dictionnaire/modifier}" th:object="${dictionnaire}">
                
                <input type="hidden" th:field=*{id}>
                <input type="hidden" th:field=*{dispo}>
                
                <label>prix</label><br/>
                <input type="text" th:field=*{prix}><br/>
                
                <label>langue</label><br/>
                <input type="text" th:field=*{langue}><br/>
                
                <input type="submit" value="Enregistrer">
	</form>
</body>
</html>